<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}Matthew Gallagher{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    {% if colorscheme %}
      <style type="text/css">
        body, html {
          background-color:{{ colorscheme.background_color }};
          color:{{ colorscheme.foreground_color }};
        }
        a {
          color:{{ colorscheme.link_color }};
        }
        a:hover {
          color:{{ colorscheme.rollover_color }};
        }
      </style>
    {% endif %}
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
	{% block header %}{% endblock %}
      </div>
      <div id="content">
	{% block content %}{% endblock %}
      </div>
      <div id="footer">
	{% if request.user.is_superuser %}
	<a href="/admin">Admin</a>
	{% endif %}
	{% url main_page as main_page_url %}
	{% if request.path != main_page_url %}
        <a href="{{ main_page_url }}">Home</a>
	{% endif %}
      </div>
    </div>
  </body>

</html>
