<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}Matthew Gallagher{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <!-- main.css lives in the imagespace app -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    {% if colorscheme %}
      <style type="text/css">
        body, html {
          background-color:{{ colorscheme.background_color }};
          color:{{ colorscheme.foreground_color }};
        }
        a {
          color:{{ colorscheme.link_color }};
        }
        a:hover {
          color:{{ colorscheme.rollover_color }};
        }
      </style>
    {% endif %}
    {% block styles %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(
	function() {
	    var width = window.screen.width;
	    var height = window.screen.height;
	    $.get('/settings/resolution/'+width+'/'+height);
	}
    );
    </script>
    {% block scripts %}{% endblock %}
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
	{% block header %}{% endblock %}
      </div>
      <div id="content">
	{% block content %}{% endblock %}
      </div>
      {% url main_page as main_page_url %}

      <div id="navigation">
      {% block navigation %}
          {% if request.path != main_page_url %}
            ≪ <a href="{{ main_page_url }}" class="home_link">Home</a>
          {% endif %}
      {% endblock %}
      </div>

      {% block page_edit_link %}{% endblock %}

    </div>
  </body>

</html>
