{% extends "base.html" %}
{% block title %}{{ image.title }}{% endblock %}
{% block header %}<h2>{{ image.title }}</h2>{% endblock %}
{% block content %}
  <!-- thumbnail preview of artwork, with link to full-size -->
  {% load thumbnail %}
  {% thumbnail image.image "500" as im %}
    <a href="{{ image.image.url }}">
      <img src="{{ im.url }}" alt="{{ im.title }}" />
    </a>
  {% endthumbnail %}
  <p>{{ image.description }}</p>

  <!-- form for purchasing the artwork -->
  {% if form %}
    <h3>Ordering</h3>
    {{ form.render }}
  {% endif %}

  <a href="{% url main_page %}">Home</a>
{% endblock %}
