{% extends "base.html" %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/image_detail.css" />
{% endblock %}
{% block title %}{{ image.title }}{% endblock %}
{% block header %}<h2>{{ image.title }}</h2>{% endblock %}
{% block content %}
  <!-- thumbnail preview of artwork, with link to full-size -->
  {% load thumbnail %}
  <div id="image_preview">
    {% thumbnail image.image "500" as im %}
      <a href="{{ image.image.url }}">
        <img src="{{ im.url }}" alt="{{ image.title }}" />
      </a>
    {% endthumbnail %}
  </div>

  <div id="image_details">
    <p>{{ image.description }}</p>
  
    <!-- form for purchasing the artwork -->
    {% load currency %}
    {% if image.for_sale %}
      <h3>Ordering</h3>
      <p>You can purchase <em>{{ image.title }}</em> for {{ image.price|to_currency }}.</p>
      {{ form.render }}
    {% endif %}
  </div>
{% endblock %}

{% block page_edit_link %}
  {% if request.user.is_superuser %}
    <a href="{% url admin:imagespace_imageframe_change image.id %}" class="edit_link">edit</a>
  {% endif %}
{% endblock %}
