{% extends "base.html" %}

{% block styles %}
  <style type="text/css">
    {% for image in images %}
      #img_{{ image.id }} {
        {% if image.manual_positioning %}
          position:absolute;
          top:{{ image.pos_y }}px;
          left:{{ image.pos_x }}px;
        {% endif %}
        width:{{ image.width }}px;
        height:{{ image.height }}px;
      }
    {% endfor %}

    {% load flatpages %}
    {% get_flatpages as pages %}
    {% for page in pages %}
      {% if page.manual_positioning %}
        #link_{{ page.id }} {
          position:absolute;
          top:{{ page.pos_y }}px;
          left:{{ page.pos_x }}px;
        }
      {% endif %}
    {% endfor %}
  </style>
{% endblock %}

{% block header %}
<h1>Matthew Gallagher</h1>
{% endblock %}

{% block content %}
  {% load thumbnail %}

  <!-- images -->
  {% for image in images %}
    {% thumbnail image.image image.geometry as im %}
    <a href="{% url image_detail image.id %}">
      <img src="{{ im.url }}" alt="{{ image.title }}" id="img_{{ image.id }}" />
    </a>

    {% empty %}
    <p>No image to display.</p>

    {% endthumbnail %}
  {% endfor %}

  <!-- flatpages -->
  {% get_flatpages as pages %}
  {% for page in pages %}
    <a href="{{ page.url }}" id="link_{{ page.id }}">{{ page.title }}</a>
  {% endfor %}

{% endblock %}
