{% extends "base.html" %}

{% block styles %}
<!-- TODO: put CSS here to position images -->
{% endblock %}

{% block header %}
<h1>Matthew Gallagher</h1>
{% endblock %}

{% block content %}
  {% load thumbnail %}
  {% for image in images %}
    <!-- image: -->
    {% thumbnail image.image "{{image.width}}x{{image.height}}" as im %}
    <!-- anything -->
    <img src="{{ im.url }}" alt="{{ im.title }}" id="img_{{ im.pk }}" />

    {% empty %}
    <p>No image to display.</p>

    {% endthumbnail %}
  {% endfor %}
{% endblock %}
