{% extends "base.html" %}

{% block styles %}
  <style type="text/css">
    {% for image in images %}
      #img_{{ image.id }} {
        position:absolute;
        top:{{ image.pos_y }}px;
        left:{{ image.pos_x }}px;
      }
    {% endfor %}
  </style>
{% endblock %}

{% block header %}
<h1>Matthew Gallagher</h1>
{% endblock %}

{% block content %}
  {% load thumbnail %}
  {% for image in images %}
    {% thumbnail image.image image.geometry as im %}
    <a href="{{ image.image.url }}">
      <img src="{{ im.url }}" alt="{{ im.title }}" id="img_{{ image.id }}" />
    </a>

    {% empty %}
    <p>No image to display.</p>

    {% endthumbnail %}
  {% endfor %}
{% endblock %}
