{% extends "base.html" %}
{% block title %}{{ gallery.title }}{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery_show.css" />
  {% if gallery.background_image %}
  <style type="text/css">
    body {
      background-image:url("{{ gallery.background_image.background_image.url }}");
    }
  </style>
  {% endif %}
{% endblock %}
{% block scripts %}<script type="text/javascript" src="{{ STATIC_URL }}js/image_show.js"></script>{% endblock %}
{% block header %}<h2>{{ gallery.title|upper }}</h2>{% endblock %}
{% block content %}
  {% if gallery.description|length > 0 %}
    <p>{{ gallery.description }}</p>
  {% endif %}

  <!-- gallery thumbnails -->
  {% load thumbnail %}
  <ul class="gallery_images">
    {% for img in all_images %}
      <li class="gallery_image_item">
	<a href="{% url image_show gallery.id img.id %}">
          {% thumbnail img.image "x500" as im %}
            <img src="{{ im.url }}" alt="{{ img.title }}" class="gallery_image" />
          {% empty %}
	</a>
    	{{ image.title }}
        {% endthumbnail %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block navigation %}
  <div id="navigation">
    <ul>
      <li><a href="{% url main_page %}" class="home_link">home</a></li>
      <li><a href="{% url galleries_index %}">galleries</a></li>
    </ul>
  </div>
{% endblock %}

