{% extends "base.html" %}
{% block title %}Galleries{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/galleries_index.css" />
  {% if bgimage %}
    <style type="text/css">
      body {
        background-image:url("{{ bgimage.background_image.url }}")
      }
    </style>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/galleries_index.js"></script>
  <script type="text/javascript">
    $(document).ready(
	function() {
	    var galleries = {{ all_galleries|length }};
	    $("body").css("width", 550*galleries);
	}
    );
  </script>
{% endblock %}
{% block header %}<h2>GALLERIES</h2>{% endblock %}
{% block content %}
  <ul class="gallery_list">
  {% load thumbnail %}
  {% for gallery in all_galleries %}
    <li>
      <a href="{% url galleries_show gallery.id %}" class="gallery_link">
	<ul class="gallery_item_list">
	  <li class="gallery_title">{{ gallery.title }}</li>
	  <li>
	    <div class="gallery_image_wrap">
      	      {% thumbnail gallery.preview_image "500x500" crop="center" as im %}
	        <img src="{{ im.url }}" alt="{{ gallery.title }}" class="gallery_preview" />
	      {% endthumbnail %}
	      {% if gallery.description|length > 0 %}
  	        <div class="gallery_description" style="display:none;">
  	          {{ gallery.description }}
  	        </div>
	      {% endif %}
	    </div>
	  </li>
	</ul>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
