{% extends "base.html" %}
{% block title %}Galleries{% endblock %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/galleries_index.css" />{% endblock %}
{% block header %}<h2>Galleries</h2>{% endblock %}
{% block content %}
  <ul>
  {% load thumbnail %}
  {% for gallery in all_galleries %}
    <li>
      <a href="{% url galleries_show gallery.id %}">
	{{ gallery.title }}
	{% thumbnail gallery.preview_image "500" as im %}
	  <img src="{{ im.url }}" alt="{{ gallery.title }}" class="gallery_preview" />
	{% endthumbnail %}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
