{% extends "galleries_show.html" %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/image_detail.css" />
{% endblock %}
{% block title %}{{ image.title }}{% endblock %}
{% block header %}<h2>{{ image.title }}</h2>{% endblock %}
{% block content %}
  <!-- thumbnail preview of artwork, with link to full-size -->
  {% load thumbnail %}
  <div id="image_preview">
    {% thumbnail image.image "500" quality=100 format="PNG" as im %}
      <a href="{{ image.image.url }}">
        <img src="{{ im.url }}" alt="{{ image.title }}" />
      </a>
    {% endthumbnail %}
  </div>

  <div id="image_details">
    <p>{{ image.description }}</p>
  
    <!-- form for purchasing the artwork -->
    {% load currency %}
    {% if image.for_sale %}
      <hr />
      <div id="artwork_sale">
	<h3>Ordering</h3>
	<p>You can purchase <em>{{ image.title }}</em> for {{ image.price|to_currency }}.</p>
        {{ form }}
      </div>
    {% elif image.sold %}
      <hr />
      <div id="artwork_sale">
	<p>{{ image.title }} sold for {{ image.price }}.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block navigation %}
  {{ block.super }}
  {% load breadcrumb_tags %}
  {% add_crumb image.title "image_show" image.id %}
{% endblock %}
