{% extends "base.html" %}

{% block styles %}
  <style type="text/css">
    {% load flatpages %}
    {% get_flatpages as pages %}
    {% for page in pages %}
      #link_{{ page.id }} {
        position:absolute;
        top:{{ page.pos_y }}px;
        left:{{ page.pos_x }}px;
        -moz-transform:rotate({{ page.rotation }}deg);
        -o-transform:rotate({{ page.rotation }}deg);
        -webkit-transform:rotate({{ page.rotation }}deg);
        -ms-transform:rotate({{ page.rotation }}deg);
      }
    {% endfor %}
    #gallery_link {
      position:absolute;
      left:{{ gallery_link_x }}px;
      top:{{ gallery_link_y }}px;
      -moz-transform:rotate({{ gallery_link_rot }}deg);
      -o-transform:rotate({{ gallery_link_rot }}deg);
      -webkit-transform:rotate({{ gallery_link_rot }}deg);
      -ms-transform:rotate({{ gallery_link_rot }}deg);
    }
  </style>

  {% if bgimage %}
    <style type="text/css">
      body {
        background-image:url("{{ MEDIA_URL }}{{ bgimage.background_image.url }}");
      }
    </style>
  {% endif %}

{% endblock %}

{% block scripts %}
  {% if request.user.is_superuser %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/edits.js"></script>
  {% endif %}
{% endblock %}

{% block header %}
<h1>Matthew Gallagher</h1>
{% endblock %}

{% block content %}
  <!-- flatpages -->
  {% get_flatpages as pages %}
  {% for page in pages %}
    <a href="{{ page.url }}" id="link_{{ page.id }}" class="main_page_link">{{ page.title }}</a>
  {% endfor %}

  <a href="{% url galleries_index %}" id="gallery_link" class="main_page_link">gallery</a>
{% endblock %}

{% block page_edit_link %}
  {% if request.user.is_superuser %}
    <a href="/admin" class="edit_link">edit</a>
  {% endif %}
{% endblock %}
