#wrapper {
    margin:0;
    padding:0;
}

#index_edit_link {
    position:absolute;
    right:0px;
    top:0px;
    background-color:white;
    color:black;
    padding:10px;
}

#gallery-marquee {
    position:relative;
    overflow:hidden;
    width:100%;
}
#gallery-marquee .sections {
    position:absolute;
    left:0px;
    top:0px;
    white-space:nowrap;
}
#gallery-marquee .section {
    padding:0px 10px;
    float:left;
}

#gallery_link {
    text-align:center;
}

h3.tagline {
    font-style:italic;
}

.edit_link, .hovering_edit_link, .edit_link:hover, .hovering_edit_link:hover {
    color:black;
    background-color:white;
    padding:10px;
}

.hovering_edit_link {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    z-index:100;
}

div.link-container {
    font-size:1.5em;
    font-weight:bold;
}

.edit_link {
    position:relative;
    top:10px;
}
