{% extends "base.html" %}
{% block meta %}
  {% if "bio" in flatpage.title|lower %}
    <!-- open graph profile stuff -->
    <meta property="profile:first_name" content="Matthew" />
    <meta property="profile:last_name" content="Gallagher" />
    <meta property="profile:username" content="matthew.gallagher2" />
    <meta property="profile:gender" content="male" />
  {% endif %}
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/flatpage.css" type="text/css" media="screen" />
{% endblock %}
{% block title %}Matthew Gallagher - {{ flatpage.title }}{% endblock %}
{% block header %}
  <h2>{{ flatpage.title }}</h2>
{% endblock %}
{% block content %}
  <div class="readable_box">
    {{ flatpage.content }}
  </div>
{% endblock %}
