{% extends "base.html" %}

{% block styles %}
  <style type="text/css">
    {% load flatpages %}
    {% get_flatpages as pages %}
    {% for page in pages %}
      #link_{{ page.id }} {
        position:absolute;
        top:{{ page.pos_y }}px;
        left:{{ page.pos_x }}px;
        -moz-transform:rotate({{ page.rotation }}deg);
        -o-transform:rotate({{ page.rotation }}deg);
        -webkit-transform:rotate({{ page.rotation }}deg);
        -ms-transform:rotate({{ page.rotation }}deg);
      }
    {% endfor %}
    #gallery_link {
        position:absolute;
        left:{{ gallery_link_x }}px;
        top:{{ gallery_link_y }}px;
        -moz-transform:rotate({{ gallery_link_rot }}deg);
        -o-transform:rotate({{ gallery_link_rot }}deg);
        -webkit-transform:rotate({{ gallery_link_rot }}deg);
        -ms-transform:rotate({{ gallery_link_rot }}deg);
    }
    #blog_link {
	position:absolute;
	left:{{ blog_link_x }}px;
	top:{{ blog_link_y }}px;
	-moz-transform:rotate({{ blog_link_rot }}deg);
	-o-transform:rotate({{ blog_link_rot }}deg);
	-webkit-transform:rotate({{ blog_link_rot }}deg);
	-ms-transform:rotate({{ blog_link_rot }}deg);
    }
  </style>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.freetrans.css" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
  {% if request.user.is_superuser %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/Matrix.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.freetrans.js"></script>
    <script type="text/javascript">
$(document).ready(
    function() {
	// CSRF protection
	// source: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		    }
		}
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	function sameOrigin(url) {
	    // test that a given url is a same-origin URL
	    // url could be relative or scheme relative or absolute
	    var host = document.location.host; // host + port
	    var protocol = document.location.protocol;
	    var sr_origin = '//' + host;
	    var origin = protocol + sr_origin;
	    // Allow absolute or scheme relative URLs to same origin
	    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		// or any other URL that isn't scheme relative or absolute i.e relative.
		!(/^(\/\/|http:|https:).*/.test(url));
	}
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
		if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
		    // Send the token to same-origin, relative URLs only.
		    // Send the token only if the method warrants CSRF protection
		    // Using the CSRFToken value acquired earlier
		    xhr.setRequestHeader("X-CSRFToken", csrftoken);
		}
	    }
	});

	// Set up initial rotations
	{% for selector,angle in link_selectors %}
          $("#{{ selector }}").data("angle",{{angle}});
        {% endfor %}

	// Editing link orientation and position
	var matrices;

	$("#index_edit_link").click(
	    function() {
		if ($(this).hasClass("editit")) {
		    // TODO: call freetrans() with current rotation, position
		    $(".main_page_link").each(
			function(){
			    $(this).freetrans({
				x:$(this).offset().left,
				y:$(this).offset().top,
				angle:$(this).data("angle"),
			    });
			}
		    );
		    matrices = new Array();

		    $(this).removeClass("editit");
		    $(this).addClass("itsdone");
		    $(this).text("done");
		} else if ($(this).hasClass("itsdone")) {
		    $(".main_page_link").each(
			function() {
			    var id_parts = $(this).prop("id").split("_");
			    var last_part = id_parts[id_parts.length-1];
			    var link_id = last_part;
			    if (last_part === 'link') {
				link_id = id_parts[0];
			    }
			    var angle = $(this).data('freetrans').angle;
			    $(this).data("angle", angle);
			    matrices.push({"link_id":link_id,
					   "angle":angle,
					   "top":$(this).data('freetrans').y,
					   "left":$(this).data('freetrans').x});
			    $(this).freetrans('destroy');
			}
		    );

		    $.post("/edit/", JSON.stringify({"transforms":matrices}));

		    $(this).removeClass("itsdone");
		    $(this).addClass("editit");
		    $(this).text("edit");
		}
	    }
	);
    }
);
  </script>
  {% endif %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simplemarquee.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block header %}
  <div id="index_header">
    <h1>MATTHEW GALLAGHER</h1>
  </div>
{% endblock %}

{% block content %}
  <!-- flatpages -->
  {% get_flatpages as pages %}
  {% for page in pages %}
    <div id="link_{{ page.id }}" class="main_page_link">
      <a href="{{ page.url }}">{{ page.title|upper }}</a>
    </div>
  {% endfor %}

  <div id="gallery_link" class="main_page_link">
    <a href="{% url galleries_index %}">VISUAL ART</a>
    {% if galleries|length > 0 %}
      <br />
      {% load thumbnail %}
      <marquee style="width:200px" id="gallery-marquee">
      {% for gallery in galleries %}
	{% thumbnail gallery.preview_image "20x20" crop="center" as im %}
	<a href="{% url galleries_show gallery.id %}">
	  <img src="{{ im.url }}" alt="{{ gallery.title }}" />
	</a>
	{% endthumbnail %}
      {% endfor %}
    </marquee>
    {% endif %}
  </div>
  <div id="blog_link" class="main_page_link">
    <a href="/news/">NEWS</a>
  </div>
{% endblock %}

{% block page_edit_link %}
  {% if request.user.is_superuser %}
    <a href="#" id="index_edit_link" class="editit">edit</a>
  {% endif %}
{% endblock %}

{% block navigation %}{% endblock %}
