div.social-button {
    display:inline;
}

ul.list-posts, ul.list-tags {
    list-style-type:none;
}

li.item-post, div.entry_content {
    display:block;
    margin-bottom:25px;
}

li.item-post {
    border-bottom:solid 1px #aaaaaa;
    padding:10px;
}	

li.item-post p, div.entry_content p {
    margin:5px 0;
}

ul.list-tags {
    padding:0;
    margin:0;
}

li.item-tag {
    display:inline;
    margin-right:10px;
}

div.date {
    font-size:small;
    margin:0 0 10px 0;
}

div.tags {
    margin:10px 0;
}

div.social {
    border-top:solid 1px #aaaaaa;
    border-bottom:solid 1px #aaaaaa;
    width:300px;
    padding:10px 0;
}
